<footer>
<table width="100%">
  <tr>
    <td>
      <DIV style="float:left;max-width:600px;min-width:480px;">
        <div>
          <DIV style="float:left;width:200px;padding:1px;">
            <p>
              <img src="https://drive.google.com/uc?export=view&id=1Su6eHRXga3JBw5IILDtsMRNmNTtKEkpW" width="150" vspace="0" alt="INMA - Instituto de Nanociencia y Materiales de Aragón" title="INMA - Instituto de Nanociencia y Materiales de Aragón"
                style="color: #007fa3; font-weight: bold;" />
            </p>


<DIV>
          <p>
            <img src="https://drive.google.com/uc?export=view&id=1f1xz96tiYgwMIiMIPArGljhjvJOUqGYW" width="180" vspace="0" alt="CSIC - Universidad de Zaragoza" title="CSIC - Universidad de Zaragoza" />
          </p>
        </div>





          </DIV>
          <DIV style="float: left;width:350px;font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size:10pt; color:#000000;">
           <p><span style="color:#007fa3;font-weight: bold;font-family: "PT Sans", Helvetica, Arial, sans-serif;font-size:11pt;">

Dr. Emilio J. Juarez-Perez           								<br /></span>

<span style="color:#CE0058;font-family: "PT Sans", Helvetica, Arial, sans-serif;font-size:10pt;">

Senior researcher - ARAID Foundation       								</span><br />



<span style="color:#007FA3; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size:10pt;">

Instituto de Nanociencia y Materiales de Aragon (INMA) CSIC-Universidad de Zaragoza   		</span>

<span style="color:#9d9d9c;font-family: "PT Sans", Helvetica, Arial, sans-serif;font-size:10pt;">

 Zaragoza 50009 (Spain).					<br/> </span>




<span style="color:#007fa3;font-family: "PT Sans", Helvetica, Arial, sans-serif;font-size:10pt;">

tel: +34 876 555 611 (ext. 545611)	<br />
e-mail: ejjuarezperez@unizar.es<br /></p>

</p>
         
          </DIV>
        </div>
        
      </DIV>
      <DIV style="float: left;max-width:300px;">
        <p>
          <img src="https://drive.google.com/uc?export=view&id=1Y0lY_AXs17eOPbQYseORtwbhRSINW4Jr" width="130" vspace="0" alt="" />
        </p>
        ​
      </DIV>
    </td>
  </tr>
</table>

</footer>
